.play-container {
  background: #f9f9f9;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin-left: 255px; /* Adjust this value as needed to move the content to the right */
  justify-content: flex-start;
  flex-wrap: wrap;
}
